<div class="sign-page">
  <%= form_tag sessions_path do |f| %>
  <div>
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
  <% end %>
</div>

Users: 
jjbernal@gmail.com => gooddog </br>
mbernal@gmail.com => gooddog</br>
demo@gmail.com => gooddog      