<h1>Company List</h1>




<table>
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Location</th>
      <th >Websites</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |c| %>
    <tr>
      <td><%= c.name %></td>
      <td><%= c.location %></td>
      <td><%= c.website %></td>
      <td>Edit</td>
    </tr>
    <tr>
      <th>Benefits</th>
      <td colspan="4"><%= c.benefit %></td>
    </tr>
    <tr>
      <th>About Us</th>
      <td colspan="3"><%= c.about_us %></td>
    </tr>

    <% end %>
  </tbody>
</table>



