<h3><%= @company.name %></h3>

<p><%= @company.location %></p>
<p><%= @company.website %> | google map</p>

<img src="<%= @company.image %>" alt="">

<p><%= @company.benefit %></p>
<p><%= @company.about_us %></p>

<h3>Current Position Available</h3>

<p>show position.company.name 1</p>
<p>show position.company.name 2</p>