

<div class="card text-center">
  <img class="card-img-top" data-src="..." alt="Card image cap" <img src="<%= @company.image %>" alt="">
  <div class="card-block">
    <h3 class="card-title"><%= @company.name%></h3>
    <p class="card-text">Location: <%= @company.location%></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">About us: <%= @company.about_us %></li>
    <li class="list-group-item">Benefits: <%= @company.benefit %></li>
  </ul>
  <div class="card-block">
    <p><%= link_to "Employer's Website", @company.website%></p>
    <p></p>
  </div>
</div>