<div class="container container-jobs">
  <div class="row">
    <table class="table table-condensed table-hover col-lg-6">
      <thead>
        <tr>
          <th>Title</th>
          <th>Company Name</th>
          <th>Job Type</th>
          <th>Experience</th>
        </tr>
      </thead>

      <tbody>
        <% @company.jobs.each do |j| %>
        <tr>
          <td><%= j.title %></td>
          <td><%= j.company.name %></td>
          <td><%= j.job_type %></td>
          <td><%= j.experience %></td>
          <td></td>
          <td>
           <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
         Details
          </button>
        
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Job Posting</h4>
                </div>
                <div class="modal-body">
                  <%= render(:partial => "layouts/joblist", :locals => {:@job => j}) %>
                </div>
                <div class="modal-footer">

                </div>
              </div>
            </div>
          </div>
        </td> 
        </tr>      
        <% end %>
      </tbody>
    </table>
  </div>
</div>